* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header div {
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: 35%;
}

#logo {
    width: 12em;
    margin: 2em 1em 1em;
}

.container {
    margin: 1% 15% 1%;
}

.container section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.container h1 {
    font-size: 2.5em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #4ea0ff;
}

.article-author {
    font-size: 1.2em;
    color: grey;
}

.article-date {
    font-size: 0.8em;
    color: grey;
}

.pics {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
}


.highlight {
    background-color: yellow;
}

li {
    margin-left: 1em;
}

table {
    border: none;
}

thead {
    background-color: #20a9e5;
    color: white;
    font-weight: bold;
}
#col1,#col2 {
    width: 20%;
}

tbody > tr:nth-of-type(odd) {
 background-color: #b1e5f2;
}

#recommended > h3 {
    color: gray;
}

#recommended > div {
    width: 300px;
    height: 200px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

#rec1 {
    background-image: url(../img/monitor.jpg);
}

#rec2 {
    background-image: url(../img/graph.jpg);
}